
.municipalities {
	   fill: WhiteSmoke;
	   stroke: #000; //#fff;
        stroke-width: 0.5;
}
        
.lakes {
    fill: lightblue;
    stroke: #000; //#fff;
    stroke-width: 0.75;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    color: #ffffff;
    background: #000000;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16;
}

.h3 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14;   
}

.h6 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 13;   
}


.p {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 12;   
}

.nav {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 12;
}

body {
  color: "white";
}

.jumbotron {
     background: url('D:/Carine/Studium Master/FS19/Open Data (Vorlesung_Übung)/Übung/App Solarenergiepotential/Solar-Panels-Switzerland.jpg') center no-repeat;
     background-size: cover;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: none;
  background-color: transparent;
  text-decoration: underline;
}